@{
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<script src="~/scripts/jquery-2.2.0.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<div>
    @using (Ajax.BeginForm("ProfileSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <div id="results"></div>
</div>
