@using SocialNetwork.Domain.Models
@model IEnumerable<SocialNetwork.Domain.Models.Profile>

@{
    ViewBag.Title = "Friends";
}

<h2>Friends</h2>
<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "FirstName");
    }
   @grid.GetHtml(columns: grid.Columns(
 grid.Column("FirstName", format: @<text>@Html.ActionLink(
(string)item.FirstName, "Details", "Product",
new { id = item.ProductId }, null)</text>),
 grid.Column("ListPrice", header: "List Price",
            format: @<text>@item.ListPrice.ToString("0.00")
            </text>)
 )
 )
</div>